body {
  font-family: 'Raleway', sans-serif;
  color: white;
}

header {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url('../images/snorlax.png');
  background-size: cover;
  width: 100vw;
  color: white;
}

section {
  padding: 8vh 10vw 2vh 10vw;
}

main {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    );
  width: 100vw;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0 0 0.7rem 0;
}

h4 {
  letter-spacing: 1px;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 40px 0 40px 0;
}

li {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

img {
  width: 100%;
}

input {
  height: 2rem;
  width: 100vh;
  border-radius: 4px;
}

button {
  background-color: #94c7e9;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
}

.container {
  margin-left: 20vw;
  margin-right: 20vw;
  padding-bottom: 10vh;
  text-align: right;
}

.main-header {
  line-height: 1rem;
}

.main-header input {
  width: 100vw;
}

.main-header > h5 {
  margin: 0 0 1rem 0;
}

.search-field {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.card-count {
  background-color: white;
  border: none;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  color: black;
  margin-left: 0.5rem;
  text-align: center;
}

.series-logo img {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.pokemon-card {
  padding-top: 3rem;
}

.myDeck li {
  padding-left: 2rem;
  padding-right: 2rem;
}

.space-between {
  justify-content: space-between;
}

.flex-center {
  align-content: center;
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.text-left {
  text-align: left;
}

.margin-top-1 {
  margin-top: 1rem;
}

.padding-top-3 {
  padding-top: 3rem;
}

.right {
  float: right;
}

.cursor {
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  main-header {
    line-height: 1rem;
  }

  input {
    width: 50vh;
  }

  .search-field {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1100px) {
  main-header {
    line-height: 1rem;
  }

  input {
    width: 70vh;
  }

  .search-field {
    justify-content: space-between;
  }
}
